<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          Olivia Anderson is a talented photographer specializing in portraits,
          weddings, and the art of capturing cars. With a keen eye for detail
          and a knack for storytelling through her lens, she brings life's
          moments to vivid reality. From evocative portraits to capturing the
          romance of weddings and the elegance of automobiles, Olivia's
          photography skillfully weaves stories that linger in the heart and
          memory.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Contribute</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </div>

    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2023 All Rights Reserved by Team number 6.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><i class="bi bi-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="bi bi-twitter"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
