<h1>Our Specialties</h1>
<hr>
<div class="container">
    <div *ngFor="let i of albums; index as id">
        <div class="card" style="width: 18rem;">
                <img src="{{i.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                    <div *ngFor="let j of i.pictures">
                        <img src="{{j.picture}}" class="card-img-top" alt="...">
                    </div>
                <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
                </ul>

        </div>
    </div>
</div>