// Variables
$website-width: 1280px;
$main-color: salmon;
$light-color: #f4f4f4;
$dark-color: #333;

// Set Text Color Fuction
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}

// ///////////////////// //
// ///// Utilities ///// //
// ///////////////////// //

.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

swiper-container {
  width: 100%;
  height: 40%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
