<div class="container">
  <div class="header-content">
    <div>
      <h1>Olivia Anderson</h1>
      <p class="lead text-end">Photographer</p>
    </div>
    <div>
      <img
        src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?auto=format&fit=crop&q=80&w=2244&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt=""
      />
      <div class="round"></div>
    </div>
  </div>
</div>

<!-- Swiper starts -->
<swiper-container
  class="mySwiper"
  navigation="true"
  space-between="5"
  loop="true"
  autoplay-delay="4000"
  autoplay-pause-on-mouse-enter="true"
  grab-cursor="true"
>
  <swiper-slide class="mySlide"
    ><img
      src="https://images.unsplash.com/photo-1550005809-91ad75fb315f?auto=format&fit=crop&q=80&w=1738&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="d-block w-100"
      alt="..."
    />
    <button class="btn btn-outline-light">Weddings</button>
  </swiper-slide>
  <swiper-slide class="mySlide"
    ><img
      src="https://images.unsplash.com/photo-1678363254909-2717823ede1f?auto=format&fit=crop&q=80&w=2371&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="d-block w-100"
      alt="..."
    /><button class="btn btn-outline-light">Portraits</button></swiper-slide
  >
  <swiper-slide class="mySlide"
    ><img
      src="https://images.unsplash.com/photo-1568742518972-f5f37ac3aab1?auto=format&fit=crop&q=80&w=2670&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="d-block w-100"
      alt="..."
    /><button class="btn btn-outline-light">Cars</button></swiper-slide
  >
</swiper-container>
<!-- Swiper ends -->

<!-- Testimonials -->
<section id="testimonials" class="container my-4">
  <h1 class="text-center">Testimonials</h1>
  <p class="text-center lead">Take a look what my clients say...</p>
  <div class="testimonials-grid py-4">
    <!-- Test-card begins -->
    <div>
      <div class="test-card">
        <ul>
          <li>
            <img
              src="https://images.unsplash.com/photo-1528892952291-009c663ce843?auto=format&fit=crop&q=60&w=900&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fHBvcnRyYWl0fGVufDB8fDB8fHww"
              alt=""
            />
          </li>
          <li class="u">Sam smith</li>
          <li class="small">New York</li>
        </ul>
        <p>
          Working with Olivia was an absolute delight. Her creativity and
          attention to detail are unmatched. She made us feel incredibly
          comfortable during our portrait session, resulting in stunning photos
          that we'll cherish forever. Highly recommended!
        </p>
      </div>
    </div>
    <!-- Test-card ends -->
    <!-- Test-card begins -->
    <div>
      <div class="test-card">
        <ul>
          <li>
            <img
              src="https://images.unsplash.com/photo-1598897516650-e4dc73d8e417?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBvcnRyYWl0JTIwYmxhY2slMjBhbmQlMjB3aGl0ZXxlbnwwfHwwfHx8MA%3D%3D"
              alt=""
            />
          </li>
          <li class="u">Sophia Müller</li>
          <li class="small">Berlin</li>
        </ul>
        <p>
          Olivia captured our wedding day with sheer brilliance! Every moment
          was beautifully immortalized through her lens. Her talent and passion
          truly shine, making our special day unforgettable. Thank you, Olivia,
          for the extraordinary memories!
        </p>
      </div>
    </div>
    <!-- Test-card ends -->
    <!-- Test-card begins -->
    <div>
      <div class="test-card">
        <ul>
          <li>
            <img
              src="https://images.unsplash.com/photo-1504257432389-52343af06ae3?auto=format&fit=crop&q=60&w=900&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBvcnRyYWl0fGVufDB8fDB8fHww"
              alt=""
            />
          </li>
          <li class="u">Alexander Wagner</li>
          <li class="small">Vienna</li>
        </ul>
        <p>
          Olivia's photography skills are exceptional! She expertly captured the
          essence of our event in every shot. Her professionalism and friendly
          demeanor made the entire experience enjoyable. We're thrilled with the
          photos and grateful for her outstanding work!
        </p>
      </div>
    </div>
    <!-- Test-card ends -->
  </div>
</section>
