.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  min-height: 300px;
  margin-bottom: 2rem;

  div {
    position: relative;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }

    .round {
      width: 170px;
      height: 170px;
      background-color: salmon;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: 50px;
      left: -50px;
      opacity: 0.5;
      z-index: -1;
    }
  }
}

carousel-inner {
  max-height: 40vh;
  img {
    max-height: 40vh;
  }
}

#testimonials {
  .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;

    .test-card {
      border: 1px solid #f4f4f4;
      border-radius: 5px;
      padding: 0.5rem;
      margin: 1rem;
      ul {
        list-style: none;
        margin-top: 1rem;
        // display: flex;
        align-items: center;
        position: relative;

        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          margin-right: 0.5rem;
          object-fit: cover;
          position: absolute;
          top: -65px;
          left: -30px;
        }
      }

      p {
      }
    }
  }
}
